<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Board Form</title>
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<style>
/*html{position:relative;min-height:100%;}*/
body {
	margin-bottom: 60px;
}

body>.container {
	padding: 60px 15px 0;
}
</style>
</head>
<body>

	<div class="container">
		<input id="board_id" type="hidden" th:value="${board?.id}" />
		<table class="table" style="border-top: hidden;">
			<tr>
				<th style="padding: 13px 0 0 15px;">제목</th>
				<td><input form="update-form" id="board_title" type="text"
					class="col-md-1 form-control input-sm" placeholder="5자에서 20자 이내로 입력해주세요." th:field="*{board.title}" />
				</td>
			</tr>

			<tr>
				<th style="padding: 13px 0 0 15px;">이메일</th>
				<td><input form="update-form" id="board_email" type="text"
						   class="col-md-1 form-control input-sm" th:field="*{board.email}" />
				</td>
			</tr>


			<tr>
				<th style="padding:13px 0 0 15px;">내용</th>
				<td>
					<textarea form="update-form" id="board_content" class="col-md-1 form-control input-sm" maxlength="140" rows="7" style="height: 200px;"
							  th:field="*{board.content}"></textarea><span class="help-block"></span>
				</td>
			</tr>
		</table>



		<div class="commnetList" th:each="reply : ${replyList}">
			<div class="what">
				<div class="nickname">
					<span th:text="${reply.writer}"></span>
				</div>
			</div>

			<pre th:text="${reply.content}"></pre>
		</div>


		<div class="pull-left">
			<a th:href="@{/board/list/{brandId}(brandId=${brand.id})}" class="btn btn-default">목록으로</a>
		</div>
		<div class="pull-right">
			<div class="pull-left" style="margin-right: 25px;">
			<form id="update-form" th:action="@{/board/{brandId}/__${board.id}__(brandId=${brand.id})}"  th:method="post" th:object="${board}">
<!--				<input type="hidden" name="_method" value="put"/>-->
				<button type="submit" class="btn btn-primary btn-update">수정</button>
			</form>
			</div>

			<div class="pull-right">
			<form id="delete-form" th:action="@{/board/{brandId}/__${board.id}__(brandId=${brand.id})}" th:method="post">
				<input type="hidden" name="_method" value="DELETE"/>
				<button type="submit" class="btn btn-primary btn-delete">삭제</button>
			</form>
			</div>
		</div>
	</div>
</body>
</html>